# 들어가기 : 주석

In [ ]:
# 이 코드는 실행되지 않습니다. ctrl + / 자동 주석
# age = input()
# age

In [ ]:
def calculate_sum(a, b):
    result = a + b
    return result
print(calculate_sum(5, 6))

# 표준 입력과 표준 출력

In [ ]:
12345
10
# ipython 라이브러리의 기본 기능
# 마지막에 있는 변수 출력

In [ ]:
print(12345)
10

In [ ]:
"12345" # 문자열 str

In [ ]:
type('12345')

In [ ]:
12345 + 10

In [ ]:
'12345' + '10'

In [ ]:
'12345' * 3

In [ ]:
name = input("당신의 이름을 입력하세요")

In [ ]:
age = input("당신의 나이를 입력하세요")
age

In [ ]:
age

In [ ]:
name

In [ ]:
print(age, name)
age, name

In [ ]:
print("나는 " + name + "이고, 나이는 " + age + "입니다.")

In [ ]:
age = int(age)
age + 10

# 연습

In [ ]:
first = input("조 : ")
second = input("설 : ")
third = input("훈 : ")
print(first)
print(second)
print(third)

In [ ]:
print(first, second, third, sep="\n")

In [ ]:
삼행시 = first + "\n" + second + "\n" + third
print(삼행시)

# 변수

변수 type safe   
변수를 선언할 때 type을 지정하지 않아도 됨   
변수명 = 값   

## 변수의 명명 규칙
1. 문자, 숫자, 밑줄(_)을 가지고 만든다
2. 숫자로 시작 X
3. 대소문자 구분
4. 예약어, 특수기호, 공백 X

In [ ]:
x = 10
y = "hello"
z = 3.141592
x, y, z

In [ ]:
print(type(x), type(y), type(z))

In [ ]:
a, b, c = 10, 20, 30
a, b, c

In [ ]:
a = 10; b = 20; c= 30

In [ ]:
a = b = c = 40
a,b,c

In [ ]:
d = True # bool형
e = None # type이 없음 NoneType
d, e

In [ ]:
a = 10
b = a
print(a, b)
id(a), id(b)

In [ ]:
aa = 10
bb = 20
print(aa, bb)
id(aa), id(bb)

In [ ]:
#의미 부여가 어려운 변수명 > 수식이 아닌 경우는 사용하지 않음
x = 100
y = 100

#의미 있는 변수명
age = 20
name = "홍길동"
user_name = "hong"

#대문자 UPPER-case 상수에 사용
PI = 3.141592
MAX_CONNECTIONS = 10 #최대 연결 수
MIN_VALEU = 0 #최소값

## NAME_SPACE
   
변수가 최초로 정의된 영역에 따라 유효범위가 결정됨
   
-지역변수 : 함수 영역 내에서 선언한 변수   
-전역변수 : 함수 영역 밖에서 선언한 변수, global 키워드를 사용   
-정적변수 : 클래스에서 사용하는 변수

In [ ]:
#지역변수
def local_example():
    local_var = 100
    print("여기는 함수의 영역입니다.", local_var)

#local_var NameError: name 'local_var' is not defined
local_example()

In [ ]:
#전역변수
global_var = "나는 전역이다."
print(global_var)

def global_example():
    print(global_var)

global_example()

In [ ]:
#전역변수
var_test = "나는 전역이다."
print(var_test)

def global_example():
    global var_test
    var_test = 100
    print(var_test)

global_example()
print(var_test)

In [ ]:
#변수 영역 연습

counter = 0
def increment_counter():
    global counter
    counter += 1
    print("카운터 : ", counter)

for i in range(3):
    increment_counter()

# 교재 변수 연습

In [ ]:
a = 1
b = "python"
c = [1,2,3]
print(a, b,c )

In [ ]:
a = [1, 2, 3]
b = a
b.append(4)
print(a)

# 자료형

- 기본 자료형 : 숫자형, 문자열형, 부울형
- 복합 자료형 : 리스트, 셋, 튜플, 딕셔너리

| type | 설명 | 예 |
|--------|--------|--------|
| 정수형 (int) | 정수를 저장하는 자료형 | 1, 5, -100 |
| 실수형 (float) | 실수를 저장하는 자료형 | 3.14, -0.1 |
| 문자열 (str) | 텍스트를 저장하는 자료형 | "Hello", "파이썬" |
| 논리형 (bool) | 참/거짓값을 저장하는 자료형 | True, False |

- 수정 불가능한 데이터 타입 : 수치형, 부울형, 문자열, 튜플
- 수정 가능한 데이터 타입 : 리스트, 딕셔너리, 셋

In [ ]:
#수치형 - int
20, type(20)

In [ ]:
age = 20
type(age)

1. 진법 : 10진수, 2진수, 8진수, 16진수
2. 입력하는 방법은 다르지만. print로 출력하면 결과는 동일

In [ ]:
a = 10
b = 0b1010 # 2진수
c = 0o12   # 8진수
d = 0xA    # 16진수
a,b,c,d

In [ ]:
#float
b = 3.14
b, type(b)

지수의 표기      

숫자e2 -> 10^2 10**2   
숫자e-2 -> 10^-2 10**-2

In [ ]:
fa = 10e2
fa

In [ ]:
fb = 10e-2
fb

In [ ]:
fc = 3.1415e9
fc

In [ ]:
#BOOLEAN - True, False
논리연산, 비교연산

In [ ]:
ba = True
# bb = true
type(ba)

In [ ]:
ba == 1

In [ ]:
#논리 연산자 - and, ,or, not

bc = 1
ba and bc

In [ ]:
#사칙연산 + - * / // %
a = 2
b = 3

In [ ]:
a + b
a - b
a * b
a / b, a//b, a%b #//몫, %나머지

In [ ]:
#비교연산자
1 + 2 == 3
1 + 2 != 3
1 + 3 > 3
1 + 3 <= 4

In [ ]:
#비교연산자와 논리연산자의 결합
10 % 2 == 0 and 12 % 3 == 0

In [ ]:
a = '1234'
b = '5678'
a, b, id(a), id(b)

In [ ]:
id(a) == id(b)

In [ ]:
#대입연산자
a = 10
b = a + 2
a,b

In [ ]:
a = 20
a += 1
a

In [ ]:
a -= 1
a

In [ ]:
a = 3
b = 2
a += 2 + b
a

# 문자열 str
' ', " ", """ """, ''' ''' docstring

유니코드 문자 표준
영어는 ascii -> 유니코드
한국어도 유니코드

유니코드가 글자의 크기에 따라 utf-8, utf-16, utf-32

파이썬의 문자열 str -> unicode 기반이다.

euc-kr : 예전에 우리나라에서 쓰던 한글 코드
cp949 : MS 윈도우즈에서 쓰던 한글 코드

In [1]:
text = "파이썬 python"
print(text)
print(ord('파'))

파이썬 python
54028

In [ ]:
#인코딩
enc_text = text.encode("euc-kr")
enc_text

In [ ]:
#디코딩
dec_text = enc_text.decode("cp949")
dec_text

In [ ]:
a = "hello"
b = "python"
a + b

In [ ]:
c = '*'
c * 10

In [ ]:
d = "Kim's family"
d

파이썬의 인덱스는 0부터 시작
음수인덱스 : 뒤에서부터 -1

In [ ]:
#문자열은 리스트, 열거형
a = "124i9r0weuf9"
a[0] #인덱싱

In [ ]:
a[0:4] #연속된 영역을 지정할 때 콜론(:) 사용, 슬라이싱
a[:4]
a[8:] #index는 0부터 시작한다

In [ ]:
s = "i9r0"
s is a

In [ ]:
b = s[:]
a = s
a is s

In [ ]:
b = s[:]
a is b

In [ ]:
s1 = '1' * 10000
b = s1[:]
s1 is b

In [ ]:
a = "abc"
b = "abcdefg"
a in b

'''docstring \n
start \n
end \n
'''

""" """   
shift + tab키를 누르면 함수의 문자가 나온다

In [49]:
doc_string = '''docstring
start
end
'''
print(doc_string)
doc_string

docstring
start
end

'docstring\nstart\nend\n'

In [ ]:
type(text)

# str의 함수

dir()

In [5]:
dir(text)

['__add__',
 '__class__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mod__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmod__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'capitalize',
 'casefold',
 'center',
 'count',
 'encode',
 'endswith',
 'expandtabs',
 'find',
 'format',
 'format_map',
 'index',
 'isalnum',
 'isalpha',
 'isascii',
 'isdecimal',
 'isdigit',
 'isidentifier',
 'islower',
 'isnumeric',
 'isprintable',
 'isspace',
 'istitle',
 'isupper',
 'join',
 'ljust',
 'lower',
 'lstrip',
 'maketrans',
 'partition',
 'removeprefix',
 'removesuffix',
 'replace',
 'rfind',
 'rindex',
 'rjust',
 'rpartition',
 'rsplit',
 'rstrip',
 'split',
 'splitlines',
 'startswith',
 'strip',
 'swapcase',
 'title',
 'translate',
 'upper',
 'zfill']

In [3]:
text.__add__("4")
text + "4"

'파이썬 python4'

In [11]:
text.__mul__(4)
text * 4

'파이썬 python파이썬 python파이썬 python파이썬 python'

In [4]:
text.count("파이")

1

In [2]:
text.replace("썬", "선")

'파이선 python'

escape 문자   
   
\ '역슬래시'

In [13]:
print('hello\nworld\'s') #escape 문자는 특수문자를 그냥 텍스트로 인식하게 한다

hello
world's

raw-string   
r'str?\' 모두 다 문자열일때   
f-string   
f'str{text}' 형식 코드가 내포된 문자열

In [17]:
str_1 = '12\\4'
print(str_1)

12\4

In [18]:
raw_str = r'12\4'
print(raw_str)

12\4

In [19]:
raw_str_1 = r'Hello\nWorld'
print(raw_str_1)

Hello\nWorld

f'{수식}문자열{변수}'

In [25]:
name = "csh"
age = 28
print('제 이름은', name, '내 나이는', age)

제 이름은 csh 내 나이는 28

In [26]:
f_str_1 = f"제 이름은 {name} 내 나이는 {age} 입니다."
print(f_str_1)

제 이름은 csh 내 나이는 28 입니다.

In [28]:
name = input("이름: ")
self_itd = input("자기소개 : ")
f_str_2 = f"안녕하세요. 제 이름은 {name}입니다.\n{self_itd}"
print(f_str_2)

이름:  조설훈
자기소개 :  피곤함

안녕하세요. 제 이름은 조설훈입니다.
피곤함

문자열.format()      

문자열에 위치 인덱스를 사용해 포맷한 값을 지정할 수 있다

In [39]:
format_str = ' {0:.4f} {1:s} are worth US$ {2:d}' #template
format_str.format(99.99,'dollars',100)

' 99.9900 dollars are worth US$ 100'

In [42]:
menu = input("주문할 메뉴를 입력하세요 ")
price = int(input("한 개 가격이 얼마인가요? "))
count = int(input("몇 개나 주문하세요? "))
total = price * count
msg = '{} 메뉴의 {}개 가격은 총 {:,} 입니다.'
print(msg.format(menu, count, total))

주문할 메뉴를 입력하세요  라면
한 개 가격이 얼마인가요?  5000
몇 개나 주문하세요?  3

라면 메뉴의 3개 가격은 총 15,000 입니다.

In [46]:
items = [
    {"name": "아메리카노", "price": 3000, "qty": 2},
    {"name": "카페라떼", "price": 4000, "qty": 1},
    {"name": "샌드위치", "price": 5500, "qty": 3}
]
header_str = "{:<10}{:>10}{:>8}{:>12}"
print(header_str.format("상품명", "가격", "수량", "총액"))
print("-"*50)
for i in items:
    msg = "{:<10}{:>10,}원{:>8}개{:>12,}원"
    print(msg.format(i["name"], i["price"], i["qty"], i["price"] * i["qty"]))

상품명               가격      수량          총액
--------------------------------------------------
아메리카노          3,000원       2개       6,000원
카페라떼           4,000원       1개       4,000원
샌드위치           5,500원       3개      16,500원

| 함수                  | 설명                  | 예시                                        |
| ------------------- | ------------------- | ----------------------------------------- |
| lower()           | 모두 소문자로 변환          | "Python".lower() → "python"           |
| upper()           | 모두 대문자로 변환          | "python".upper() → "PYTHON"           |
| capitalize()      | 첫 글자만 대문자           | "hello".capitalize() → "Hello"        |
| title()           | 각 단어의 첫 글자 대문자      | "hello world".title() → "Hello World" |
| strip()           | 앞뒤 공백 제거            | " hello ".strip() → "hello"           |
| lstrip()          | 왼쪽 공백 제거            | " hello".lstrip()                       |
| rstrip()          | 오른쪽 공백 제거           | "hello ".rstrip()                       |
| replace(old, new) | 문자열 바꾸기             | "hello".replace("l", "x") → "hexxo"   |
| split()           | 문자열 나누기 (기본: 공백)    | "a b c".split() → ['a', 'b', 'c']     |
| join(list)        | 리스트를 문자열로 결합        | " ".join(['a', 'b']) → "a b"          |
| find(sub)         | 처음 등장하는 위치 (없으면 -1) | "apple".find("p") → 1                 |
| index(sub)        | 처음 등장하는 위치 (없으면 오류) | "apple".index("p") → 1                |
| count(sub)        | 부분 문자열 개수           | "banana".count("a") → 3               |
| startswith(sub)   | 해당 문자열로 시작?         | "python".startswith("py") → True      |
| endswith(sub)     | 해당 문자열로 끝남?         | "python".endswith("on") → True        |
| isalnum()         | 영문자+숫자인가?           | "abc123".isalnum() → True             |
| isalpha()         | 영문자만인가?             | "abc".isalpha() → True                |
| isdigit()         | 숫자만인가?              | "123".isdigit() → True                |
| isspace()         | 공백문자만 있는가?          | " \t\n".isspace() → True              |

In [44]:
"DFGE_sdfsf".lower().upper().capitalize().title()

'Dfge_Sdfsf'

TypeError, ValueError

In [20]:
b = 2
c = '3'
#b + 3 #TypeError
b + int(c)

5

In [24]:
c = '3a'
#b + int(c) #ValueError
b + int(c[0])

5

In [50]:
# Q1. 홍길동 씨의 주민등록번호는 881120-1068234이다. 홍길동씨의 주민등록번호를 연월일 [YYYYMMDD] 부분과 그 뒤의 숫자 부분으로 나누어 출력해 보자.
idnum = "881120-1068234"
first_idnum, second_idnum = idnum.split("-")
print(first_idnum, second_idnum)

881120 1068234

In [51]:
# Q2. 주민등록번호 뒷자리의 맨 첫 번째 숫자는 성별을 나타낸다. 주민등록번호에서 성별을 나타내는 숫자를 출력해 보자
idnum = "881120-1068234"
print(idnum[7])

1

In [52]:
# Q3. 숫자와 문자를 나누어 a1,a2 변수에 넣으세요.

a = '20010331Rainy'
a1 = a[:8]
a2 = a[8:]
print(a1, a2)

20010331 Rainy

In [53]:
# Q4. 모두 대문자로, 모두 소문자로 바꾸세요.

a = 'Hi'
print(a.upper())
print(a.lower())

HI
hi

In [55]:
# Q5. 아래 변수의 화이트 스페이스를 제거하고 출력하세요.

a = ' hi '
a = a.strip()
print(a)

hi

In [56]:
ly = '''
아기상어
뚜루루뚜루
귀여운
뚜루루뚜루
바닷속
뚜루루뚜루
아기상어!
엄마상어
뚜루루뚜루
어여쁜
뚜루루뚜루
바닷속
뚜루루뚜루
엄마상어!
아빠상어
뚜루루뚜루
힘이 센
뚜루루뚜루
바닷속
뚜루루뚜루
아빠상어!
할머니상어
뚜루루뚜루
자상한
뚜루루뚜루
바닷속
뚜루루뚜루
할머니상어!
할아버지상어
뚜루루뚜루
멋있는
뚜루루뚜루
바닷속
뚜루루뚜루
할아버지상어!
우리는
뚜루루뚜루
바다의
뚜루루뚜루
사냥꾼
뚜루루뚜루
상어가족!
상어다
뚜루루뚜루
도망쳐
뚜루루뚜루
도망쳐
뚜루루뚜루
숨자! 으악!
한번 더!
상어다
뚜루루뚜루
도망쳐
뚜루루뚜루
도망쳐
뚜루루뚜루
숨자! 으악!
아기상어
뚜루루뚜루
귀여운
뚜루루뚜루
바닷속
뚜루루뚜루
아기상어!
엄마상어
뚜루루뚜루
어여쁜
뚜루루뚜루
바닷속
뚜루루뚜루
엄마상어!
아빠상어
뚜루루뚜루
힘이 센
뚜루루뚜루
바닷속
뚜루루뚜루
아빠상어!
할머니상어
뚜루루뚜루
자상한
뚜루루뚜루
바닷속
뚜루루뚜루
할머니상어!
할아버지상어
뚜루루뚜루
멋있는
뚜루루뚜루
바닷속
뚜루루뚜루
할아버지상어!
우리는
뚜루루뚜루
바다의
뚜루루뚜루
사냥꾼
뚜루루뚜루
상어가족!
상어다
뚜루루뚜루
도망쳐
뚜루루뚜루
도망쳐
뚜루루뚜루
숨자! 으악!
살았다
뚜루루뚜루
살았다
뚜루루뚜루
오늘도
뚜루루뚜루
살았다!
신난다
뚜루루뚜루
신난다
뚜루루뚜루
춤을 춰
뚜루루뚜루
노래 끝!
'''
print(ly.count("뚜루"))

102