# 파일 읽기

In [2]:
with open('abc/text.txt','w') as f:
    f.write("hello")

In [3]:
f = open('abc/text.txt','r')
f.read()
f.close()

In [14]:
with open('abc/text2.txt','w', encoding="UTF-8") as f:
    f.write('test\n')
    f.write('hello\n')

In [16]:
with open('abc/text2.txt','r', encoding="UTF-8") as f:
    text = f.read()
print(text)

test
hello
한글테스트

In [15]:
with open('abc/text2.txt','a', encoding="UTF-8") as f:
    f.write("한글테스트\n")

In [22]:
with open('abc/text3.txt','w') as f:
    f.writelines("test1\ntest2\ntest3")

In [23]:
with open('abc/text3.txt','r') as f:
    lines = f.readlines()
for line in lines:
    print(line)

test1

test2

test3

# pickle 직렬화/역직렬화

In [24]:
import pickle

# 직렬화할 데이터
data = {
    'name': '홍길동',
    'age': 30,
    'scores': [90, 85, 88]
}

# 직렬화하여 파일에 저장
with open('abc/data.pickle', 'wb') as f:
    pickle.dump(data, f)

# 파일에서 역직렬화하여 읽기
with open('abc/data.pickle', 'rb') as f:
    loaded_data = pickle.load(f)

print(loaded_data)  # 원본 데이터가 그대로 복원됨

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [26]:
import json

In [29]:
with open('abc/data.json','w') as f:
    json.dump(data, f, ensure_ascii=False)

In [30]:
with open('abc/data.json','r') as f:
    loaded_txt = json.load(f)
print(loaded_txt)

{'name': '홍길동', 'age': 30, 'scores': [90, 85, 88]}

In [33]:
import csv
data = [['name','age'],['bob',20],['alice',15]]

In [35]:
with open('abc/data.csv','w') as f:
    wrt = csv.writer(f)
    wrt.writerows(data)

In [36]:
import pandas as pd

df = pd.DataFrame(data)
df.to_csv('abc/data_df.csv')

In [ ]:
pd.read_csv('abc/data_df.csv')

   Unnamed: 0      0    1
0           0   name  age
1           1    bob   20
2           2  alice   15

In [42]:
df1 = df.drop(0,axis=0)
df1.columns = ['name','age']
df1.to_csv('abc/data_df1.csv')

In [43]:
pd.read_csv('abc/data_df1.csv')

   Unnamed: 0   name  age
0           1    bob   20
1           2  alice   15

In [44]:
df1

    name age
1    bob  20
2  alice  15