# 복합자료 리스트

여러개의 값을 묶어서 하나의 변수로 다루는 자료형

생성법
1. '[ ]' 대괄호 사용
2. 데이터는 , 쉼표로 구분
3. '[ ]' 빈 대괄호는 초기화
4. 숫자, 문자, 부울, 리스트 같은 객체를 모두 담을 수 있음
5. 순서 index를 가진다 0부터 시작
6. 음수 인덱스도 가진다

In [1]:
score = [30, 50, 90, 80, 100]
score[0] # 첫번째 학생의 점수

30

In [3]:
type(score), type(score[0])

(list, int)

In [4]:
dir(score)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

In [16]:
ra = range(2,20,2)
print(ra)

range(2, 20, 2)

In [12]:
num_list = list(ra) #생성자
num_list

[2, 4, 6, 8, 10, 12, 14, 16, 18]

In [13]:
num_list[-1]

18

In [15]:
ra.__len__()

9

In [17]:
num_list.count(4)

1

method와 function   

1. method : 객체에 한해서 동작하는 함수 > 객체명.함수()
2. function : 함수(매개변수) > 매개변수로 동작하는 함수

dir() - function
list_obj.__len__() - method

In [20]:
str_1 = "hello"
#str_1[0] = "H" #TypeError > str Immutable

In [26]:
str_2 = list(str_1) # 문자열 > 문자열 리스트
str_2[0] = "H"
print(str_2)

['H', 'e', 'l', 'l', 'o']

In [27]:
''.join(str_2)

'Hello'

In [28]:
#리스트의 생성
a = list()
a = []
b = [1, 2, 3, 4, 5]
c = ["aaa", "bbb", "ccc"]
d = [1, 2, 'aaa', 'bbb']
e = [c, d]
e

[['aaa', 'bbb', 'ccc'], [1, 2, 'aaa', 'bbb']]

In [30]:
e[0], type(e[0])

(['aaa', 'bbb', 'ccc'], list)

In [31]:
e[1], e[-1]

([1, 2, 'aaa', 'bbb'], [1, 2, 'aaa', 'bbb'])

In [32]:
e[1][2]

'aaa'

In [33]:
e[1][:2]

[1, 2]

In [34]:
e[1][3]

'bbb'

In [2]:
score = [[1,2],[3,4]]
score

[[1, 2], [3, 4]]

복사
1. 얕은 복사 shallow copy
2. 깊은 복사 deep copy

In [50]:
new_score = score[:] #얕은카피
new_score[0][0] = 100
new_score, score

([[100, 2], [3, 4]], [[100, 2], [3, 4]])

In [3]:
import copy
copied = copy.copy(score)
copied[0][1] = 90
copied, score

([[1, 90], [3, 4]], [[1, 90], [3, 4]])

In [4]:
deepcopied = copy.deepcopy(score)
deepcopied[1][0] = 100
deepcopied, score

([[1, 90], [100, 4]], [[1, 90], [3, 4]])

# 리스트의 연산

- '+' __add__()
- '*' __mul__()
- del list[항목]
- im list -> True/False

In [56]:
lunch1 = ["해물라면", "샐러드", "떡볶이"]
lunch2 = ["오므라이스", "볶음밥", "떡볶이", "제육볶음", "주먹밥"]
lunch1 + lunch2

['해물라면', '샐러드', '떡볶이', '오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']

In [54]:
lunch1 * 2

['해물라면', '샐러드', '떡볶이', '해물라면', '샐러드', '떡볶이']

In [55]:
del lunch1[0]
lunch1

['샐러드', '떡볶이']

In [57]:
lunch3 = lunch1 + lunch2
del lunch3[2]
print(lunch3)

['해물라면', '샐러드', '오므라이스', '볶음밥', '떡볶이', '제육볶음', '주먹밥']

In [58]:
'떡볶이' in lunch3

True

In [65]:
#간식박스 관리 프로그램
snack_box = ["초코파이"]
new_snack = input("먹고 싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요").split(",")
snack_box += new_snack
print(snack_box)

먹고 싶은 간식을 추가하세요. 단, 쉼표(,)로 연결하세요 콜라,사이다,홈런볼

['초코파이', '콜라', '사이다', '홈런볼']

In [66]:
qty = int(input("간식박스 몇 세트로 포장할까요? 예 : 2 -> 2box"))
snack_box *= qty
print(snack_box)

간식박스 몇 세트로 포장할까요? 예 : 2 -> 2box 2

['초코파이', '콜라', '사이다', '홈런볼', '초코파이', '콜라', '사이다', '홈런볼']

In [67]:
print(f"주문하신 간식 상자는 {snack_box[0]}, {snack_box[1]}, {snack_box[2]} 등입니다. 확인해주세요.")

주문하신 간식 상자는 초코파이, 콜라, 사이다 등입니다. 확인해주세요.

In [70]:
print(snack_box)
msg = f"혹시 빼고싶은 간식이 있으면 번호를 입력하세요(0~{len(snack_box) - 1})"
snack_no = int(input(msg))
del snack_box[snack_no]
print(snack_box)

['초코파이', '콜라', '사이다', '홈런볼', '초코파이', '콜라', '사이다', '홈런볼']

혹시 빼고싶은 간식이 있으면 번호를 입력하세요(0~7) 3

['초코파이', '콜라', '사이다', '초코파이', '콜라', '사이다', '홈런볼']

In [72]:
# 착고 싶은 간식이름을 입력하세요
snack_name = input("찾고 싶은 간식이름을 입력하세요")
if snack_name in snack_box:
    print("있어요.")
else:
    print("없어요.")

찾고 싶은 간식이름을 입력하세요 아이스크림

없어요.

In [76]:
print("주문하신 간식박스는 뒤에서부터 다음과 같습니다.")
print(f'{snack_box[::-1]}, 총 {len(snack_box)}개입니다.')

주문하신 간식박스는 뒤에서부터 다음과 같습니다.
['홈런볼', '사이다', '콜라', '초코파이', '사이다', '콜라', '초코파이'], 총 7개입니다.

| 메서드                  | 사용 예시                    | 설명                |
| -------------------- | ------------------------ | ----------------- |
| append(x)          | lst.append(4)          | 맨 뒤에 x 추가       |
| insert(i, x)       | lst.insert(1, "a")     | i 위치에 x 삽입    |
| extend(iter)       | lst.extend([4, 5])     | 리스트에 여러 값 추가      |
| remove(x)          | lst.remove("a")        | x와 일치하는 첫 항목 삭제 |
| pop()              | lst.pop()              | 마지막 항목 제거하고 반환    |
| pop(i)             | lst.pop(0)             | i번째 항목 제거하고 반환  |
| clear()            | lst.clear()            | 리스트 전체 비우기        |
| index(x)           | lst.index("a")         | x의 위치(인덱스) 반환   |
| count(x)           | lst.count("a")         | x의 개수 세기        |
| sort()             | lst.sort()             | 오름차순 정렬 (원본 변경)   |
| sort(reverse=True) | lst.sort(reverse=True) | 내림차순 정렬           |
| reverse()          | lst.reverse()          | 항목 순서 뒤집기         |
| copy()             | lst2 = lst.copy()      | 리스트 복사            |

# 연산자

- 비식별연산자
1. 수치연산 : 사칙연산
   add() -> 특별메소드를 정의하고 객체에서 쓸 수 있다
   숫자일때는 기본연산
   형변환이 자동으로 일어난다 int + float -> float, int / int -> float
2. 대입연산 : assign, 할당 '='
   변수 = 값
   자기 자신에게 대입하는 연산 > +=, -=, *=, /= > ()가 자동으로 적용
3. 비교연산
   '=' 와 '=='은 다르다
   '!=', '<', '>=' 등
   리스트의 비교 '==' > 내용이 같은가? > 리스트의 주소'id()'가 같은가? X
4. 논리연산
   and, or, not
   &, &&, |, ||
- 식별연산자
1. is, is not

In [19]:
lunch1 = ['주먹밥', '치킨', '칼국수']
lunch2 = ['주먹밥', '치킨', '칼국수']
print(lunch1 == lunch2) #값의 비교
print(id(lunch1) == id(lunch2))

True
False

In [21]:
lunch1 is lunch2 #주소의 비교

False

In [1]:
a = 5
b = 2
a *= 2 + b # a = a * (2 + b)
a

20

In [13]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]
for student in students:
    student["total"] = student["kor"] + student["eng"] + student["math"]
    student["avg"] = round(student["total"] / 3, 2)
    print(student)

{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 0}
{'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33, 'order': 0}
{'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 0}

In [14]:
for student in students:
    rank = 1
    for other in students:
        if other['total'] > student["total"]:
            rank += 1
    student["order"] = rank
    print(student)

{'num': '1', 'name': '김철수', 'kor': 90, 'eng': 80, 'math': 85, 'total': 255, 'avg': 85.0, 'order': 2}
{'num': '2', 'name': '박제동', 'kor': 90, 'eng': 85, 'math': 90, 'total': 265, 'avg': 88.33, 'order': 1}
{'num': '3', 'name': '홍길동', 'kor': 80, 'eng': 80, 'math': 80, 'total': 240, 'avg': 80.0, 'order': 3}

# 리스트에 많이 쓰이는 내장함수들

- type(),
- sorted(),
- dir(),
- id(),
- len(),
- sum(), max(), min()

In [35]:
a = [1, 2, 1]
b = [1, 0, 4]
print(max(a))
print(min(b))
print(sum(a))

2
0
4

In [38]:
# Q1. [1,3,5,4,2]라는 리스트를 [5,4,3,2,1]로 만들어보자
a = [1,3,5,4,2]
a.sort(reverse=True)
print(a)

[5, 4, 3, 2, 1]

In [42]:
# Q2. ['Life','is','too','short']라는 리스트를 Life is too short라는 문자열로 만들어 출력해 보자
life = ['Life','is','too','short']
life_str = ' '.join(life)
print(life_str)

Life is too short

In [47]:
# Q3. 다음 리스트 L의 순서를 아래와 같이 변경하시오. (힌트: pop())
# 변경 전
# [1, 3, 5, 7, 9]
# 변경 후
# [3, 5, 7, 9, 1]
L  = [1, 3, 5, 7, 9]
L.append(L.pop(0))
print(L)

[3, 5, 7, 9, 1]

# 딕셔너리

{키:값, 키:값}

In [57]:
person = { "이름" : "alice", "나이" : 25, "도시" : "서울"}
person

{'이름': 'alice', '나이': 25, '도시': '서울'}

In [54]:
person2 = dict(이름="csh", 나이= 28, 도시= "서울")
person2

{'이름': 'csh', '나이': 28, '도시': '서울'}

In [58]:
person["이름"] = "hgd"
person

{'이름': 'hgd', '나이': 25, '도시': '서울'}

In [59]:
person[0] = "Bob" # key create
person

{'이름': 'hgd', '나이': 25, '도시': '서울', 0: 'Bob'}

In [61]:
#person[2] # KeyError

In [62]:
type(person)

dict

In [63]:
dir(person)

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [69]:
print(person.items())
for i in person.items():
    print(i)

dict_items([('이름', 'hgd'), ('나이', 25), ('도시', '서울'), (0, 'Bob')])
('이름', 'hgd')
('나이', 25)
('도시', '서울')
(0, 'Bob')

In [70]:
print(person.keys())
for k in person.keys():
    print(k)

dict_keys(['이름', '나이', '도시', 0])
이름
나이
도시
0

In [71]:
print(person.values())
for v in person.values():
    print(v)

dict_values(['hgd', 25, '서울', 'Bob'])
hgd
25
서울
Bob

In [74]:
# update는 딕셔너리에 딕셔너리를 추가합니다.
person.update(person2)
person

{'이름': 'csh', '나이': 28, '도시': '서울', 0: 'Bob'}

In [77]:
#키가 다르면 추가, 키가 같으면 교체
person3 = {"성별" : "남자", "취미" : "게임"}
person.update(person3)
person

{'이름': 'csh', '나이': 28, '도시': '서울', 0: 'Bob', '성별': '남자', '취미': '게임'}

# 메뉴판 만들기

In [93]:
store_name = "바리스타 엘리\'s 카페"
menu_list = ["에스프레소", "아메리카노", "카페라떼"]
price_list = [3000, 4000, 5000]

print("*" * 60)
print(f"어서오세요. {store_name}에 오신것을 환영합니다.")
menu_msg = "{}. {} : {:,}원"
for i in range(len(menu_list)):
    print(menu_msg.format(i + 1, menu_list[i], price_list[i]))
    # print(f"{i + 1}. {menu_list[i]} : {price_list[i]}원")

order_num = int(input("주문할 메뉴 번호를 입력하세요 : ")) - 1
qty = int(input("몇 개를 구매하시겠습니까? : "))
order_msg = "주문하신 메뉴는 {}이고 갯수는 {}개 입니다. 가격은 {:,}원 입니다."
print(order_msg.format(menu_list[order_num], qty, price_list[order_num] * qty))
# print(f"주문하신 메뉴는 {menu_list[order_num]}이고 갯수는 {qty}개 입니다. 가격은 {price_list[order_num] * qty}원 입니다.")

************************************************************
어서오세요. 바리스타 엘리's 카페에 오신것을 환영합니다.
1. 에스프레소 : 3,000원
2. 아메리카노 : 4,000원
3. 카페라떼 : 5,000원

주문할 메뉴 번호를 입력하세요 :  2
몇 개를 구매하시겠습니까? :  3

주문하신 메뉴는 아메리카노이고 갯수는 3개 입니다. 가격은 12,000원 입니다.

In [99]:
store_name = "바리스타 엘리\'s 카페"
print("*" * 60)
print(f"어서오세요. {store_name}에 오신것을 환영합니다.")
menu_list = [{"name" : "에스프레소", "price" : 3000}, {"name" : "아메리카노", "price" : 4000}, {"name" : "카페라떼", "price" : 5000}, {"name" : "말차프라프치노", "price" : 7000}]
menu_msg = "{}. {} : {:,}원"
for i, menu in enumerate(menu_list):
    print(menu_msg.format(i + 1, menu["name"], menu["price"]))

order_num = int(input("주문할 메뉴 번호를 입력하세요 : ")) - 1
qty = int(input("몇 개를 구매하시겠습니까? : "))
order_msg = "주문하신 메뉴는 {}이고 갯수는 {}개 입니다. 가격은 {:,}원 입니다."
print(order_msg.format(menu_list[order_num]["name"], qty, menu_list[order_num]["price"] * qty))

************************************************************
어서오세요. 바리스타 엘리's 카페에 오신것을 환영합니다.
1. 에스프레소 : 3,000원
2. 아메리카노 : 4,000원
3. 카페라떼 : 5,000원
4. 말차프라프치노 : 7,000원

주문할 메뉴 번호를 입력하세요 :  3
몇 개를 구매하시겠습니까? :  4

주문하신 메뉴는 카페라떼이고 갯수는 4개 입니다. 가격은 20,000원 입니다.

# 튜플

리스트랑 비슷, 변경 안되는 특징을 갖는다.

In [100]:
a = tuple()
type(a)

tuple

In [101]:
b = (1)
b, type(1)

(1, int)

In [102]:
bb = (1,)
bb, type(bb)

((1,), tuple)

In [104]:
c = (1,2,(3,4),'5',[1,2,3])
c

(1, 2, (3, 4), '5', [1, 2, 3])

In [108]:
c[4][0] = 2
c

(1, 2, (3, 4), '5', [2, 2, 3])

In [110]:
#튜플의 ()는 생략 할 수 있다.
fruits = '사과', '복숭아', '딸기'
fruits, type(fruits)

(('사과', '복숭아', '딸기'), tuple)

In [115]:
#쉼표가 하나 이상 있어야 함
a = 'a',
a,type(a)

(('a',), tuple)

In [118]:
nums = [1,2,3]
a,b,c = nums #list unpacking
a,b,c

(1, 2, 3)

In [121]:
s = 'hello'
a,b,c,d,e = s #string unpacking
a,b,c,d,e

('h', 'e', 'l', 'l', 'o')

In [123]:
s = 'hello' #packing
a, *b, c = s #unpacking에서 *는 rest의 의미
a,b,c

('h', ['e', 'l', 'l'], 'o')

In [125]:
student = ['홍길동', 20, '1학년']

In [126]:
name, age, grade = student
f'이름은 {name}이고, 나이는 {age}, 학년은 {grade}입니다.'

'이름은 홍길동이고, 나이는 20, 학년은 1학년입니다.'

In [133]:
x = 1
y = 2
x, y = y, x
x, y

(2, 1)

In [135]:
#함수의 정의
def func_a(a, b, c):
    print(a,b,c)
    return c,b,a
#함수의 호출
result = func_a(5,4,3)
print(result)

5 4 3
(3, 4, 5)

In [136]:
a1, b1, c1 = func_a(1,2,3)
print(a1, b1, c1)

1 2 3
3 2 1

In [139]:
#tuple에 값을 추가하려면?
#형변환 > 리스트
name_tuple = ("가연", "지훈", "지희")
print(name_tuple)
name_list = list(name_tuple)
name_list.append("유석")
name_tuple = tuple(name_list)
print(name_tuple)

('가연', '지훈', '지희')
('가연', '지훈', '지희', '유석')

In [140]:
dir(name_tuple)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getnewargs__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__rmul__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'count',
 'index']

In [144]:
a_tuple = 'a','b','c'
a_tuple += 'd',
print(a_tuple)
a_tuple *= 2
print(a_tuple)

('a', 'b', 'c', 'd')
('a', 'b', 'c', 'd', 'a', 'b', 'c', 'd')

# 집합

- set(), {}
- 중복이 안된다. 순서도 없다. 키도 없다.
- 속도가 빠르다, 해싱을 하는 자료형(딕셔너리, 집합)

In [147]:
s = set([1,2,3])
s

{1, 2, 3}

In [149]:
s1 = {1,2,3}
s1

{1, 2, 3}

In [181]:
l2 = [1,2,3]
l2 = l2*2
l2

[1, 2, 3, 1, 2, 3]

In [182]:
#set으로 중복 제거
s3 = set(l2)
s3

{1, 2, 3}

In [161]:
l2.append([4,5,6])
l2

[1, 2, 3, 1, 2, 3, [4, 5, 6]]

In [179]:
# set(l2) # set에 넣는 데이터는 해싱 가능해야 함

In [165]:
hash('hi')

9202297244391480672

In [166]:
hash(123)

123

In [171]:
l1 = [1,2,3]
# hash(l1) TypeError: unhashable type: 'list'

In [169]:
hash((1,2,3))

529344067295497451

In [172]:
# hash({1,2,3})

# set 집합 연산

- 교집합 &, intersection()
- 합집합 |, union()
- 차집합 -, difference()

In [173]:
s = set([1,2,3,4])
x = {2,3,4}
y = {3,4,5}

In [175]:
print(x & y)
print(x.intersection(y))

{3, 4}
{3, 4}

In [176]:
print(x | y)
print(x.union(y))

{2, 3, 4, 5}
{2, 3, 4, 5}

In [177]:
print(x - y)
print(x.difference(y))

{2}
{2}

In [178]:
dir(x)

['__and__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__iand__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__isub__',
 '__iter__',
 '__ixor__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__rand__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__ror__',
 '__rsub__',
 '__rxor__',
 '__setattr__',
 '__sizeof__',
 '__str__',
 '__sub__',
 '__subclasshook__',
 '__xor__',
 'add',
 'clear',
 'copy',
 'difference',
 'difference_update',
 'discard',
 'intersection',
 'intersection_update',
 'isdisjoint',
 'issubset',
 'issuperset',
 'pop',
 'remove',
 'symmetric_difference',
 'symmetric_difference_update',
 'union',
 'update']

In [183]:
#리스트 numbers가 다음과 같을 때, 첫 번째 원소와 마지막 원소의 합을 구하는 코드를 작성하세요.
numbers = [10, 20,  30,  40,  50,  60, 70, 80, 90, 100]
print(numbers[0] + numbers[-1])

110

In [185]:
#리스트 colors가 다음과 같을 때, 첫 3개 원소와 마지막 2개 원소를 슬라이싱을 사용하여 출력하는 코드를 작성하세요.
colors = ["red", "green", "blue", "yellow", "purple", "orange", "black"]
print(colors[:3] + colors[5:])

['red', 'green', 'blue', 'orange', 'black']

In [190]:
#다음 리스트에서 "korean"이라는 문자열을 찾아 출력하는 코드를 작성하세요. - indexing
list_a = [
    [1, 2, 3],
    ["red", "green", "blue"],
    [False, "korean", True]
]
for l in list_a:
    if "korean" in l:
        print(l[l.index("korean")])

korean

In [191]:
#리스트 list_a과 list_b가 다음과 같을 때, 두 리스트를 합쳐서 새로운 리스트 list_c를 만드는 코드를 작성하세요.
list_a = [1, 2, 3]
list_b = [4, 5, 6]
list_c = list_a + list_b
print(list_c)

[1, 2, 3, 4, 5, 6]

In [192]:
#아래의 튜플 tuple_a에서 "banana"를 "blueberry"로 변경하는 코드를 작성하세요.
tuple_a = ("apple", "banana", "cherry")
list_a = list(tuple_a)
list_a[1] = "blueberry"
tuple_a = tuple(list_a)
print(tuple_a)

('apple', 'blueberry', 'cherry')

In [194]:
#변수 a, b, c의 값을 사용하여 튜플 tuple_a를 생성하고 출력하는 코드를 작성하세요.
a = 5
b = 10
c = 15
tuple_a = tuple([a,b,c])
print(tuple_a)

(5, 10, 15)

In [197]:
#튜플 numbers가 주어졌을 때, 튜플의 최대값과 최소값을 출력하는 코드를 작성하세요.
numbers = (92, 89, 72, 31, 71, 33, 19)
print(max(numbers), min(numbers))

92 19

In [214]:
#dict 타입의 student(변수명)를 생성하고, 아래의 키-값 쌍을 추가하는 코드를 작성하세요.
# name: "Alice"
# age: 24
# major: "Computer Science"

# student = {"name" : "Alice", "age" : 24, "major" : "Computer Science"}
student = {}
student["name"] = "alice"
student["age"] = 24
student["major"] = "Computer Science"

In [216]:
#위에서 생성한 student에서, 모든 키와 값을 출력하는 코드를 작성하세요

for k, v in student.items():
    print(f"{k} : {v}")

name : alice
age : 24
major : Computer Science

In [204]:
#위에서 생성한 student에서, age(나이)를 26으로 변경하세요.
student["age"] = 26
print(student)

{'name': 'alice', 'age': 26, 'major': 'Computer Science'}

In [210]:
#다음 딕셔너리 students에서 name의 값을 리스트(name_list)로, age의 값을 튜플(age_tuple) 만드는 코드를 작성하세요
students = {
    "student1": {"name": "Alice", "age": 24},
    "student2": {"name": "Bob", "age": 22},
    "student3": {"name": "Charlie", "age": 23}
}
name_list = []
age_tuple = ()
for i in range(len(students)):
    temp = "student" + str(i + 1)
    name_list.append(students[temp]["name"])
    age_tuple += (students[temp]["age"],)

print(name_list)
print(age_tuple)

['Alice', 'Bob', 'Charlie']
(24, 22, 23)

In [217]:
name_list = []
age_tuple = ()
for key in students.keys():
    stu = students[key]
    name_list.append(stu["name"])
    age_tuple += (stu["age"],)

print(name_list)
print(age_tuple)

['Alice', 'Bob', 'Charlie']
(24, 22, 23)