# 반복문 : for, while

# for 문

for 변수 in 반복자:
\
반복자에는 리스트, 문자열, 튜플, 딕셔너리, 셋(집합)

In [1]:
data = [0,1,2,3,4]
for var in data:
    print(var)

0
1
2
3
4

In [2]:
for x in range(1,10):
    print(x)

1
2
3
4
5
6
7
8
9

In [6]:
type(range(10))

range

In [3]:
t = (1,2,3)
for i in t:
    print(i)

1
2
3

In [4]:
d = {"a": 1, "b" : 2}
for i in d:
    print(i)

a
b

In [5]:
s = "hello"
for i in s:
    print(i)

h
e
l
l
o

# range

start, stop, step

In [7]:
sum = 0
for i in range(1,101):
    sum += i
print(sum)

5050

In [9]:
sum = 0
for i in range(3, 101, 3):
    sum += i
print(sum)

1683

In [10]:
char_list = ['a', 'b', 'c']
for x in char_list:
    print(x)

a
b
c

In [11]:
for i, v in enumerate(char_list):
    print(i, v)

0 a
1 b
2 c

In [14]:
char_list_2 = ['hello', 'hi', 'good-bye']
zip(char_list, char_list_2)

In [15]:
for item in zip(char_list, char_list_2):
    print(item)

('a', 'hello')
('b', 'hi')
('c', 'good-bye')

In [16]:
# 구구단
for i in range(1,10):
    for j in range(1, 10):
        print(f"{i} * {j} = {i * j }")

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
2 * 1 = 2
2 * 2 = 4
2 * 3 = 6
2 * 4 = 8
2 * 5 = 10
2 * 6 = 12
2 * 7 = 14
2 * 8 = 16
2 * 9 = 18
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 5 = 15
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27
4 * 1 = 4
4 * 2 = 8
4 * 3 = 12
4 * 4 = 16
4 * 5 = 20
4 * 6 = 24
4 * 7 = 28
4 * 8 = 32
4 * 9 = 36
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
6 * 1 = 6
6 * 2 = 12
6 * 3 = 18
6 * 4 = 24
6 * 5 = 30
6 * 6 = 36
6 * 7 = 42
6 * 8 = 48
6 * 9 = 54
7 * 1 = 7
7 * 2 = 14
7 * 3 = 21
7 * 4 = 28
7 * 5 = 35
7 * 6 = 42
7 * 7 = 49
7 * 8 = 56
7 * 9 = 63
8 * 1 = 8
8 * 2 = 16
8 * 3 = 24
8 * 4 = 32
8 * 5 = 40
8 * 6 = 48
8 * 7 = 56
8 * 8 = 64
8 * 9 = 72
9 * 1 = 9
9 * 2 = 18
9 * 3 = 27
9 * 4 = 36
9 * 5 = 45
9 * 6 = 54
9 * 7 = 63
9 * 8 = 72
9 * 9 = 81

In [17]:
movie_dict = {"미션임파서블" : 4, "미치광이삐에로" : 5, "씨너스" : 3, "울지않는아이" : 2}
for k, v in movie_dict.items():
    print(f"영화 {k}의 평점 : {'*' * v}")

영화 미션임파서블의 평점 : ****
영화 미치광이삐에로의 평점 : *****
영화 씨너스의 평점 : ***
영화 울지않는아이의 평점 : **

In [27]:
for i in range(1,6):
    for j in range(i):
        print("😺",end = '')
    print()
for i in range(6,0,-1):
    for j in range(i):
        print("😺",end = '')
    print()

😺
😺😺
😺😺😺
😺😺😺😺
😺😺😺😺😺
😺😺😺😺😺😺
😺😺😺😺😺
😺😺😺😺
😺😺😺
😺😺
😺

In [47]:
for i in range(1, 7):
    for j in range(6 - i, -1, -1):
        print("🧡", end = "")
    for j in range(1, i*2):
        print("😺", end = "")
    for j in range(6 - i, -1, -1):
        print("🧡", end = "")
    print()

🧡🧡🧡🧡🧡🧡😺🧡🧡🧡🧡🧡🧡
🧡🧡🧡🧡🧡😺😺😺🧡🧡🧡🧡🧡
🧡🧡🧡🧡😺😺😺😺😺🧡🧡🧡🧡
🧡🧡🧡😺😺😺😺😺😺😺🧡🧡🧡
🧡🧡😺😺😺😺😺😺😺😺😺🧡🧡
🧡😺😺😺😺😺😺😺😺😺😺😺🧡

In [52]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j * 1.00014)

2000.28
3050.427
2050.2870000000003
1980.2772
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
15452.163
15052.107
15552.177
14902.086000000001

In [53]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]

for i in data:
    for j in i:
        print(j * 1.00014)
    print("------")

2000.28
3050.427
2050.2870000000003
1980.2772
------
7501.05
2050.2870000000003
2050.2870000000003
1980.2772
------
15452.163
15052.107
15552.177
14902.086000000001
------

In [54]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result  = []
for i in data:
    for j in i:
        result.append(j * 1.00014)
print(result)

[2000.28, 3050.427, 2050.2870000000003, 1980.2772, 7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772, 15452.163, 15052.107, 15552.177, 14902.086000000001]

In [55]:
data = [
    [ 2000,  3050,  2050,  1980],
    [ 7500,  2050,  2050,  1980],
    [15450, 15050, 15550, 14900]
]
result  = []
for i in data:
    tmp = []
    for j in i:
        tmp.append(j * 1.00014)
    result.append(tmp)
print(result)

[[2000.28, 3050.427, 2050.2870000000003, 1980.2772], [7501.05, 2050.2870000000003, 2050.2870000000003, 1980.2772], [15452.163, 15052.107, 15552.177, 14902.086000000001]]

In [59]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(1,len(ohlc)):
    print(ohlc[i][3])

100
190
310

In [60]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(1,len(ohlc)):
    if ohlc[i][3] > 150:
        print(ohlc[i][3])

190
310

In [61]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(1,len(ohlc)):
    if ohlc[i][3] >= ohlc[i][0]:
        print(ohlc[i][3])

100
310

In [62]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
volatility = []
for i in range(1,len(ohlc)):
    volatility.append(ohlc[i][1] - ohlc[i][2])
print(volatility)

[40, 30, 10]

In [63]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
for i in range(1,len(ohlc)):
    if ohlc[i][3] > ohlc[i][0]:
        print(ohlc[i][1] - ohlc[i][2])

10

In [64]:
ohlc = [["open", "high", "low", "close"],
        [100, 110, 70, 100],
        [200, 210, 180, 190],
        [300, 310, 300, 310]]
total = 0
for i in range(1,len(ohlc)):
    total += ohlc[i][3] - ohlc[i][0]
print(total)

0