# 함수

- 인자 = 매개변수, 입력, 파라미터
- 반환값 = 리턴값, 결과값
- 함수이름

- 함수 정의 > 호출

In [17]:
#함수정의
def my_func():
    print("my first function")

#함수호출
my_func()

my first function

In [4]:
type(my_func)

function

In [23]:
#리턴이 없는 경우
my_func_var = my_func()

my first function

In [15]:
print(my_func_var)

None

In [18]:
def my_func1():
    print("my first function")
    return "hello"

In [19]:
my_func1()

my first function

'hello'

In [22]:
#리턴이 있는 경우
my_func_var1 = my_func1()

my first function

In [21]:
print(my_func_var1)

hello

# 입력값이 있는 함수

In [24]:
def my_calc(x):
    print(f"{x}를 계산합니다.")

In [25]:
my_calc(10)

10를 계산합니다.

In [26]:
def my_calc1(x):
    print(f"{x}를 계산합니다.")
    z = x * 20
    return z

In [27]:
result = my_calc1(10)
print(result)

10를 계산합니다.
200

In [28]:
def my_calc2(x, y):
    print(f"{x}와 {y}를 계산합니다.")
    add_result = x + y
    mul_result = x * y
    return add_result, mul_result

In [31]:
my_calc2(10, 20)

10와 20를 계산합니다.

(30, 200)

In [32]:
func_result = my_calc2(10,20)
func_result[0]

10와 20를 계산합니다.

30

In [34]:
func_result1, func_result2 = my_calc2(10,20)
print(func_result1, func_result2)

10와 20를 계산합니다.
30 200

In [37]:
#리스트 매개변수의 실행
def my_calc3(a, list1):
    a += 1
    list1.append(a)
    return a

In [38]:
num = 10
list_num = [1,2,'12']

print(f"before : {num}, {list_num}")

my_calc3(num,list_num)
print(f"after : {num}, {list_num}")

before : 10, [1, 2, '12']
after : 10, [1, 2, '12', 11]

In [42]:
# my_calc3(list_num, num) #TypeError

키워드매개변수 : 함수의 매개변수 목록은 변수명이 매개변수 명이다.   
매개변수명을 이용한 호출은 매개변수의 순서와 무관하다.

In [41]:
my_calc3(list1 = list_num, a = num)

11

In [44]:
def greeting(name, greeting = "hi"):
    print(f"{greeting}, {name}님!")

greeting("minsu","hello")

hello, minsu님!

In [45]:
greeting("alice")

hi, alice님!

In [48]:
#가변인자
def sum_all(*args):
    return sum(args)

In [47]:
sum_all(1,2,3,4,5)

15

In [53]:
#def sum_all(arg1, *args, arg2): #불가능
def sum_all(arg1, arg2, *args):
    result = arg1 + arg2 + sum(args)
    print(args)
    return result

In [59]:
sum_all(1,2,3,4)

(3, 4)

10

In [55]:
# **args
def print_info(**kwargs):
    for k, v, in kwargs.items():
        print(k, v)

In [57]:
print_info(name = "hgd", age = 20, city = "seoul")

name hgd
age 20
city seoul

# 요일 구하는 함수 정의
- 입력 : year, month, day
- 출력 : '월요일'
- 함수명 : 요일찾기()

In [95]:
import datetime
today = datetime.date(2025,6,5)
today.weekday()

3

In [80]:
year = int(input("년도를 입력해주세요 : "))
month = int(input("월을 입력해주세요 : "))
day = int(input("일을 입력해주세요 : "))

년도를 입력해주세요 :  2025
월을 입력해주세요 :  6
일을 입력해주세요 :  5

In [84]:
# 날짜 - 년,월,일 year = 2025 month = 06 day = 05

total_days = 0
# 년도일수 (입력년도 - 1) * 365
# 윤년인지 체크 +1

for i in range(1,year):
    #윤년: 400으로 나누어 나머지가 0, 4로 나누어 나머지가 0
    #평년: 100으로 나누어 나머지가 0
    if (i % 400 == 0) or (i % 4 == 0 and i % 100 != 0):
        total_days += 366
    else:
        total_days += 365
        
print(total_days)
# 월일수 (입력월 - 1) * 30
# 월별로 날짜가 다름
month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
for m in range(1, month):
    total_days += month_days[m]

if month >= 3:
    if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
        total_days + 1
print(total_days)
# 일수 입력한 일
total_days += day
print(total_days)

remain_days = total_days % 7
week = {1 : "월요일", 2 : "화요일", 3 : "수요일", 4 : "목요일", 5 : "금요일", 6 : "토요일", 0 : "일요일"}
print(week[remain_days])

739251
739402
739407
목요일

In [102]:
def 윤년체크(year):
    if (year % 400 == 0) or (year % 4 == 0 and year % 100 != 0):
        return True
    else:
        return False

def 요일찾기(year, month, day):
    total_days = 0
    
    for i in range(1,year):
        if 윤년체크(i):
            total_days += 366
        else:
            total_days += 365
            
    month_days = [0,31,28,31,30,31,30,31,31,30,31,30,31]
    for m in range(1, month):
        total_days += month_days[m]
    
    if month >= 3:
        if 윤년체크(year):
            total_days + 1
    total_days += day
    
    remain_days = total_days % 7
    day_names = ["일요일", "월요일", "화요일", "수요일", "목요일", "금요일", "토요일"]
    print(f"입력하신 날짜는 {day_names[remain_days]}입니다.")

In [103]:
year = int(input("년도를 입력해주세요 : "))
month = int(input("월을 입력해주세요 : "))
day = int(input("일을 입력해주세요 : "))
요일찾기(year, month, day)

년도를 입력해주세요 :  2025
월을 입력해주세요 :  6
일을 입력해주세요 :  5

입력하신 날짜는 목요일입니다.

# 성적처리 시스템

- calc_total()
- calc_avg()
- calc_order()
- print_student(students) : 전 학생의 성적을 출력
- print_class() : 반평균, 각 과목별 평균 출력

In [106]:
students = [
               {'num':'1','name':'김철수','kor':90,'eng':80,'math':85,'total':0,'avg':0.0,'order':0 },
               {'num':'2','name':'박제동','kor':90,'eng':85,'math':90,'total':0,'avg':0.0,'order':0 },
               {'num':'3','name':'홍길동','kor':80,'eng':80,'math':80,'total':0,'avg':0.0,'order':0 }
           ]

In [148]:
def calc_total(students):
    for student in students:
        student["total"] = student["kor"] + student["eng"] + student["math"]

def calc_avg(students):
    for student in students:
        student["avg"] = round(student["total"] / 3, 2)

def calc_order(students):
    for student in students:
        rank = 1
        for other in students:
            if other['total'] > student["total"]:
                rank += 1
        student["order"] = rank

def print_student(students):
    for student in students:
        print(f"{student["num"]}. {student["name"]} - 국어 : {student["kor"]} 영어 : {student["eng"]} 수학 : {student["math"]} 총점 : {student["total"]} 평균 : {student["avg"]} 등수 : {student["order"]}")

def print_class(students):
    # kor_avg = 0
    # eng_avg = 0
    # math_avg = 0
    # class_avg = 0
    # for student in students:
    #     kor_avg += student["kor"]
    #     eng_avg += student["eng"]
    #     math_avg += student["math"]
    #     class_avg += student["total"]

    kor_avg = round(sum(student['kor'] for student in students) / len(students), 2)
    eng_avg = round(sum(student['avg'] for student in students) / len(students), 2)
    math_avg = round(sum(student['math'] for student in students) / len(students), 2)
    class_avg = round(sum(student['total'] for student in students) / len(students) / 3, 2) # 총점 / 학생수 / 과목수
    print(f"반평균 : {class_avg} 국어평균 : {kor_avg} 영어평균 : {eng_avg} 수학평균 : {math_avg}")

In [149]:
calc_total(students)
calc_avg(students)
calc_order(students)
print_student(students)
print_class(students)

1. 김철수 - 국어 : 90 영어 : 80 수학 : 85 총점 : 255 평균 : 85.0 등수 : 2
2. 박제동 - 국어 : 90 영어 : 85 수학 : 90 총점 : 265 평균 : 88.33 등수 : 1
3. 홍길동 - 국어 : 80 영어 : 80 수학 : 80 총점 : 240 평균 : 80.0 등수 : 3
반평균 : 84.44 국어평균 : 86.67 영어평균 : 84.44 수학평균 : 85.0

# lambda 함수

선언 >> lambda <매개변수> : 실행코드<br>
호출 >> (lambda <매개변수> : 실행코드)(매개변수 값)

In [1]:
def aaa(a):
    result = a + 1
    return result

In [2]:
lambda a : a + 1

In [3]:
(lambda a : a + 1)(4)

5

In [4]:
my_lambda = lambda a : a + 1
my_lambda(5)

6

In [5]:
def sum1(a, b):
    return a+ b
sum1(2,3)

5

In [7]:
(lambda a, b : a + b)(2,4)

6

In [8]:
def calc_func(a, b, opr_func):
    result = opr_func(a, b)
    return result

In [9]:
calc_func(1,2,  lambda x, y : x + y)

3

In [12]:
#map 함수
fruits = ["apple", "banana", "cherry"]
list(map(str.upper, fruits))

['APPLE', 'BANANA', 'CHERRY']

In [13]:
str_number = "12345"
list(str_number)

['1', '2', '3', '4', '5']

In [15]:
numbers = list(map(int, str_number))
numbers

[1, 2, 3, 4, 5]

In [17]:
list(map(lambda x : x ** 2,numbers))

[1, 4, 9, 16, 25]

In [19]:
kor_score = [1,2,3]
eng_score = [4,5,6]
math_score = [7,8,9]
list(map(lambda x, y, z : x + y + z, kor_score, eng_score, math_score))

[12, 15, 18]

In [23]:
#평균, 최소값, 최대값
print(list(map(lambda x, y, z : (x + y + z) / 3, kor_score, eng_score, math_score)))
print(list(map(lambda x, y, z : min(x, y, z), kor_score, eng_score, math_score)))
print(list(map(lambda x, y, z : max(x, y, z), kor_score, eng_score, math_score)))

[4.0, 5.0, 6.0]
[1, 2, 3]
[7, 8, 9]

In [24]:
list(map(lambda s : sum(s), zip(kor_score, eng_score, math_score)))

[12, 15, 18]

In [28]:
print(list(map(lambda s : sum(s)/len(s), zip(kor_score, eng_score, math_score))))
print(list(map(lambda s : min(s), zip(kor_score, eng_score, math_score))))
print(list(map(lambda s : max(s), zip(kor_score, eng_score, math_score))))

[4.0, 5.0, 6.0]
[1, 2, 3]
[7, 8, 9]

In [2]:
#두 수를 입력 받아 그 곱을 반환하는 함수를 작성하세요.
def multiply_numbers(a, b):
    return a * b
print(multiply_numbers(3, 5))

15

In [10]:
#숫자 리스트를 입력 받아 평균을 반환하는 함수를 작성하세요.
def calc_average(numbers):
    avg = sum(numbers) / len(numbers)
    return avg
print(calc_average([10, 20, 30, 40, 50]))

#람다로 정의
print((lambda n : sum(n) / len(n))([10, 20, 30, 40, 50]))

30.0
30.0

In [12]:
#주어진 숫자가 짝수이면 True, 홀수이면 False를 반환하는 함수를 작성하세요.
def is_even(n):
    if n % 2 == 0:
        return True
    else:
        return False
print(is_even(14))  # True
print(is_even(21))  # False

#람다 버전
print((lambda n : n % 2 == 0)(14))
print((lambda n : n % 2 == 0)(21))

True
False
True
False

In [15]:
#주어진 리스트의 모든 요소를 문자열로 변환하여 반환하는 함수와, 람다 함수를 작성하세요.
def to_string_list(lst):
    for i in range(len(lst)):
        lst[i] = str(lst[i])
    return lst
print(to_string_list([1, 2, 3, 4, 5]))

#람다 버전
print(list(map(str, [1, 2, 3, 4, 5])))

['1', '2', '3', '4', '5']
['1', '2', '3', '4', '5']

In [17]:
#두 문자열을 입력받아 합친 문자열을 반환하는 함수와 람다 함수를 작성하세요.
def concat_strings(s1, s2):
    return s1 + s2
print(concat_strings("Hello, ", "World!"))

#람다 버전
print((lambda a, b: a + b)("Hello, ", "World!"))

Hello, World!
Hello, World!

In [5]:
#주어진 문자열에서 모든 모음(a,e,i,o,u)을 제거한 문자열을 반환하는 함수를 작성하세요.
def remove_vowels(s):
    collection = ['a', 'e', 'i', 'o', 'u']
    for c in collection:
        s = s.replace(c, '')
    return s
print(remove_vowels("abcdefghijklmnopqrstuvwxyz"))  # "bcdfghjklmnpqrstvwxyz"

bcdfghjklmnpqrstvwxyz

In [21]:
#문자열을 입력 받아, 해당 문자열에서 가장 긴 단어와 길이를 반환하는 함수를 작성하세요.
def find_longest_word(s):
    s_list = s.split()
    max_len = 0
    max_s = ''
    for i in s_list:
        if len(i) > max_len:
            max_len = len(i)
            max_s = i
    return max_s, max_len
print(find_longest_word("Life is for one generation a good name is forever."))

('generation', 10)

In [23]:
#주어진 문자열에서 숫자와 문자를 분리하는 함수를 작성하세요.
def split_numbers_letters(s):
    numbers = []
    letters = []
    for i in s:
        if i.isdecimal():
            numbers.append(int(i))
        else:
            letters.append(i)
    return numbers, letters

print(split_numbers_letters("a1b2c3d4"))

([1, 2, 3, 4], ['a', 'b', 'c', 'd'])

In [27]:
#주어진 문자열(알파벳)을 입력 받아, 각 알파벳의 종류와 개수를 dict형으로 반환하는 함수를 만드세요.
def count_alphabets(s):
    alph_dic = {}
    for i in s:
        if i in alph_dic:
            alph_dic[i] += 1
        else:
            alph_dic[i] = 1
    return alph_dic

print(count_alphabets("hello"))

{'h': 1, 'e': 1, 'l': 2, 'o': 1}