In [21]:
print("Hello jupyter")
print("Mary's cosmetics")
print('신씨가 소리질렀다. "도둑이야".')
print("C:\\Windows")
print("안녕하세요.\n만나서\t\t반갑습니다.")
print ("오늘은", "일요일")
print("naver", "kakao", "sk", "samsung", sep=";")
print("naver", "kakao", "sk", "samsung", sep="/")
print("first", end="")
print("second")
print(round(5/3, 2))

Hello jupyter
Mary's cosmetics
신씨가 소리질렀다. "도둑이야".
C:\Windows
안녕하세요.
만나서		반갑습니다.
오늘은 일요일
naver;kakao;sk;samsung
naver/kakao/sk/samsung
firstsecond
1.67

In [ ]:
num_str = "15.79"
print(float(num_str), type(float(num_str)))
num = 100
print(str(num), type(str(num)))

In [10]:
letters = 'python'
print(letters[0], letters[2])

license_plate = "24가 2210"
print(license_plate[4:])

string = "홀짝홀짝홀짝"
print(string[::2])

string = "PYTHON"
print(string[::-1])

phone_number = "010-1111-2222"
phone_number = phone_number.replace("-", " ")
print(phone_number)

phone_number = phone_number.replace(" ", "")
print(phone_number)

p t
2210
홀홀홀
NOHTYP
010 1111 2222
01011112222

In [15]:
t1 = 'python'
t2 = 'java'
print((t1 + " " + t2 + " ") * 3)

name1 = "김민수" 
age1 = 10
name2 = "이철희"
age2 = 13
print("이름: %s 나이: %d" %(name1, age1))
print("이름: %s 나이: %d" %(name2, age2))

python java python java python java
이름: 김민수 나이: 10
이름: 이철희 나이: 13